<!DOCTYPE html>
<html>
<head>
    <title>Mongo Testing</title>
</head>
<body>
    <hgroup>
        <h1>Welcome.</h1>
        <h3>Get ready for some MongoDB tailable cursor and capped collection action. It's about to get real.</h3>
    </hgroup>

    <p><% data %></p>
</body>
</html>