<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="post" action="/">
        <input name="username" />
        <input type="submit" value="Go!" />
    </form>
</body>
</html>