!!!
html
    head
        title = 'Real-time chatting'
    body
        #content( style='width: 500px; height: 300px; margin: 0 0 20px 0; border: 1px solid #999; overflow-y: scroll;' )
        .controls
            input.field( style='width:350px;' )
            input.send( type='button', value='send' )